<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>PC42-RestBasicAuth</display-name>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Tajne pliki</web-resource-name>
			<url-pattern>/tajne/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>uprawniony</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>
</web-app>

