<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>PC13-FormLogin</display-name>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Tajne pliki</web-resource-name>
			<url-pattern>/rest/tajne/*</url-pattern>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>uprawniony</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- ustawienie uwierzyteniania (logowania) -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/logon.jsp</form-login-page>
			<form-error-page>/logonError.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
